/* 网页初始化 */

*{
	font-family: "微软雅黑";
	margin: 0px;
	padding: 0px;
	color: white;
}
/* 页面头部 */
#head_nav{
	width: 1000px;
	height: 50px;
	background-color: black;
	margin: 0 auto;
}
#head_nav img{
	float: left;
	padding-top: 10px;
}
#head_nav span{
	float: right;
	color: white;
	line-height: 50px;
}
#head{
	width: 100%;
	height: 50px;
	background-color: #000000;
}

/* 当天的天气信息*/
#todayinfo{
	width: 1000px;
	height: 470px;
	margin: 0 auto;
}

#today_title{
	width: 100%;
	height: 35px;
	padding-top: 40px;
}
#today_title span{
	border: 1px solid white;
	padding: 2.5px 10px;
	/* line-height: 35px; */
	display: inline-block;
	border-radius: 5px;
}

#today_location{
	font-size: 20px;
	padding-top: 40px;
}
#today_location img{
	width: 25px;
	height: 25px;
	position: relative;
	top: 7px;
}

#today_level{
	height: 30px;
	line-height: 30px;
	padding-top: 30px;
}
.shuye{
	width: 30px;
	height: 30px;
	background-color: rgb(215,175,14);
	float: left;
	border-radius: 15px;
	text-align: center;
	line-height: 30px;
	margin-right: 10px;
}


.current_tem{
	font-size: 140px;
}
.current_wea{
	font-size: 30px;
}
.updae_time{
	font-size: 14px;
}

#today_other{
	font-size: 18px;
}
#today_other img{
	position: relative;
	top: 7px;
}
.water{
	margin-right: 10px;
}
.wind{
	margin-left: 20px;
	margin-right: 10px;
}

#today_tip{
	margin-top: 10px;
}
#today_tip span{
	margin-right: 10px;
}

/* 页面背景图 月亮 */
#back{
	width: 100%;
	height: 100%;
	background-image: url(../img/3.jpg);
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -1;
	background-repeat: no-repeat;
	background-size: 100% auto;
}



/* 未来七日信息 */
#seven_dayinfo{
	width: 1000px;
	height: 390px;
	margin: 0 auto;
	background-color:rgba(0,0,0,0,2);
}
.title{
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
}

#seven_dayinfo .content{
	height: 350px;
	width: 980px;
	margin: 0 auto;
}
#seven_dayinfo .content li{
	list-style: none;
	height: 49px;
	line-height: 49px;
	border-bottom: 1px solid white;
}
#seven_dayinfo .content li span{
	display: inline-block;
	width: 16%;
}


/* 24小时的温度折线图 */
#hour_info{
	width: 1000px;
	height: 440px;
	margin: 0 auto;
	margin-top: 20px;
	background-color:rgba(0,0,0,0,2);
}
#main{
	width: 100%;
	height: 400px;
}